<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @banner.message %>
</p>

<p>
  <strong>Start:</strong>
  <%= @banner.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @banner.end %>
</p>

<%= link_to 'Edit', edit_banner_path(@banner) %> |
<%= link_to 'Back', banners_path %>
