<%= form_with(model: legal, local: true) do |form| %>
  <% if legal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(legal.errors.count, "error") %> prohibited this legal from being saved:</h2>

      <ul>
        <% legal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.number_field :title %>
  </div>

  <div class="field">
    <%= form.rich_text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
